/* Perla Garcia Cavazos | 09/14/2026 | bioSite Styles */

body {
    font-family: "Times New Roman", serif;
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1F3A5F;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2, h3 {
    font-family: "Arial Black", sans-serif;
    color: #1F3A5F;
}

nav a {
    color: #F5DEB3;
    margin: 0 15px;
    text-decoration: none;
    font-family: "Arial Black";
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
}

figure {
    text-align: center;
    margin: 30px 0;
}

img {
    max-width: 100%;
    border-radius: 8px;
}

figcaption {
    font-style: italic;
    color: #555;
    margin-top: 8px;
}
